body {
    text-align: center;
  }

   
  nav {
    background-color: rgb(194, 151, 147);
    padding: 10px;}
    a {
        color: black;
        margin: 40px;
      }

      footer {
        background-color: rgb(194, 151, 147);
        color: white;
        padding: 10px;
        
      }      
      .icon {
        width: 80px;
    }

    div id {
        width: 100px;
     }
     footer p {
        font-size: 1.2em;
    }   
    footer p a:hover {
        text-decoration: underline;
    }  